# Tensorflow needs remote repo
common --experimental_repo_remote_exec

# Basic build settings
build --jobs 128
build --define='absl=1'  # for gtest
build --enable_platform_specific_config

build --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'

